/* TABLE OF CONTENTS 

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QURIES
    # CUSTOM SEMANTIC GRID SYSTEM
#STRUCTURE
    #SITE HEADER
    #SITE NAV
    #MAIN
        #SECTIONS
    #SITE FOOTER  



*/
/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

/* BASE TEXT FONTS */
body {
  font-family: europa, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ff-carina, serif;
  font-weight: 900;
  font-style: normal;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

/* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

/* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* 24 / 16 = 1.5em */
h4 {
  font-size: 1.3125em;
  line-height: 1.3;
}

/* 21 / 16 = 1.3125em */
h5 {
  font-size: 11.125em;
  line-height: 1.4;
}

/* 18 / 16 = 1.125em */
h6 {
  font-size: 1em;
  line-height: 1.5;
}

/* 16 / 16 = 1em */
/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 30em;
}

/* LINKS */
a {
  color: whitesmoke;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}
a:hover {
  color: grey;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 900l;
  line-height: 1;
  margin: 0;
  color: #ffce53;
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.4);
  margin: 0.25 0;
  line-height: 1.1;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: europa, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0;
}

/* BUTTONS */
.button,
button {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  border-radius: 0.5em;
  margin: 1em 0;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/*  RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .one-fifth {
    width: 18%;
  }
  .row .two-fifths {
    width: 38%;
  }
  .row .three-fifths {
    width: 58%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.3333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* SITE STRUCTURE */
body {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
}

.site-header {
  position: absolute;
  padding: 1em;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: black;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .logo {
  max-width: 50px;
}

/* ANIMATIONS */
@-webkit-keyframes red-button {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: inset 0 -8px 6px #612020;
            box-shadow: inset 0 -8px 6px #612020;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: inset 0 -2px 6px #612020;
            box-shadow: inset 0 -2px 6px #612020;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: inset 0 -8px 6px #612020;
            box-shadow: inset 0 -8px 6px #612020;
  }
}
@keyframes red-button {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: inset 0 -8px 6px #612020;
            box-shadow: inset 0 -8px 6px #612020;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: inset 0 -2px 6px #612020;
            box-shadow: inset 0 -2px 6px #612020;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: inset 0 -8px 6px #612020;
            box-shadow: inset 0 -8px 6px #612020;
  }
}
@-webkit-keyframes left-moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes left-moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes right-moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes right-moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes left-finger-lightning {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes left-finger-lightning {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes right-finger-lightning {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes right-finger-lightning {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes arrow-scale {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes arrow-scale {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* HERO */
@-webkit-keyframes mustache-rotate {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}
@keyframes mustache-rotate {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}
.hero {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  overflow-x: hidden;
}
.hero .hero-container {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.hero #heroanimation {
  position: absolute;
  z-index: 100;
}
.hero .statue-wrapper {
  position: relative;
  z-index: 2;
  max-width: 90%;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}
.hero .statue-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.hero .mustache-wrapper {
  position: absolute;
  top: 51%;
  left: 50%;
  margin-left: 1.5%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.hero .mustache {
  display: block;
  -webkit-animation-name: mustache-rotate;
          animation-name: mustache-rotate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.hero h3 {
  position: fixed;
  text-align: center;
  width: 120%;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 1.5%;
  margin-left: 0;
  margin-right: 0;
  color: white;
  font-family: ff-carina, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18.6vw;
  line-height: 0.9;
  letter-spacing: 1px;
}
.hero h3 span {
  padding-right: 0;
  color: #ffce53;
}
.hero h3 .black {
  color: #0a0a0a;
}
.hero p {
  margin: 1em auto;
}

section {
  padding: 4em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* MAIN PAGE */
.site-main #featured {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
}
.site-main #featured h1 {
  text-align: center;
  font-family: europa, sans-serif;
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 5px;
  color: #fff;
}
.site-main #section-1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  position: relative;
}
.site-main #section-1 h4 {
  font-family: europa, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: right;
  margin-right: 20%;
}
.site-main #section-1 .button {
  border: 1px solid #0a0a0a;
  letter-spacing: 3px;
  font-size: 0.6em;
  color: #0a0a0a;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
}
.site-main #section-1 .button:hover {
  color: whitesmoke;
}
.site-main #section-1 .button::after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  height: 190%;
  width: 100%;
  background-color: #0a0a0a;
  -webkit-transform: translatey(4em);
          transform: translatey(4em);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.site-main #section-1 .button:hover::after {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
.site-main .overlap_container {
  position: relative;
}
.site-main .overlap_container img {
  display: block;
}
.site-main #section-2 {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
}
.site-main #section-2 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 4em;
  letter-spacing: 5px;
  text-decoration: none;
  font-family: europa, sans-serif;
}
.site-main #section-2 ul span {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #0a0a0a;
}
.site-main #section-2 ul span:hover {
  color: gray;
}
.site-main #section-2 ul .black_web {
  color: #0a0a0a;
}
.site-main #section-2 ul a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.site-main #section-2 ul a:hover {
  color: grey;
}
.site-main #section-2 ul li:nth-child(2) {
  margin-left: 150px;
  margin-right: 150px;
}
.site-main #section-3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  position: relative;
}
.site-main #section-3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: left;
  color: white;
}
.site-main #section-3 ul li {
  margin-bottom: 2%;
}
.site-main #section-3 ul a {
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.site-main #section-3 img {
  border-radius: 0;
}
.site-main #section-3 h4 {
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 0.6em;
  font-size: 3em;
  text-align: left;
  font-family: europa, sans-serif;
}
.site-main #section-3 h4::after {
  content: "";
  display: block;
  background-color: #ffce53;
  height: 2px;
  width: 100%;
}
.site-main #section-pad {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
}
.site-main #section-4 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  position: relative;
}
.site-main #section-4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: left;
  color: #0a0a0a;
}
.site-main #section-4 ul li {
  margin-bottom: 2%;
}
.site-main #section-4 img {
  border-radius: 0;
  max-width: 80%;
  margin-left: 9%;
}
.site-main #section-4 h4 {
  font-weight: 400;
  margin-bottom: 0.6em;
  font-size: 3em;
  color: #0a0a0a;
  font-family: europa, sans-serif;
  letter-spacing: 5px;
  text-align: left;
}
.site-main #section-4 h4::after {
  content: "";
  display: block;
  background-color: #ffce53;
  height: 2px;
  width: 100%;
}
.site-main #section-5 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  position: relative;
}
.site-main #section-5 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: left;
  color: whitesmoke;
}
.site-main #section-5 ul li {
  margin-bottom: 2%;
}
.site-main #section-5 ul a {
  color: whitesmoke;
  text-decoration: none;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}
.site-main #section-5 ul a:hover {
  color: gray;
}
.site-main #section-5 img {
  border-radius: 0;
  max-width: 80%;
  margin-left: 9%;
}
.site-main #section-5 h4 {
  font-weight: 400;
  margin-bottom: 0.6em;
  font-size: 3em;
  color: whitesmoke;
  font-family: europa, sans-serif;
  letter-spacing: 5px;
  text-align: left;
}
.site-main #section-5 h4::after {
  content: "";
  display: block;
  background-color: #ffce53;
  height: 2px;
  width: 100%;
}
.site-main #section-6 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  text-align: center;
  position: relative;
}
.site-main #section-6 h2 {
  text-align: center;
  font-family: europa, sans-serif;
  font-weight: 300;
  color: #fff;
  margin-left: 1.5%;
}
.site-main #section-6 h2 span {
  color: #0a0a0a;
  font-weight: 400;
  margin-left: 1%;
}
.site-main #section-6 .button {
  text-align: center;
  background-image: radial-gradient(circle, #ff3300, #d10000);
  font-size: 5em;
  font-weight: 300;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 50%;
  -webkit-animation-name: red-button;
          animation-name: red-button;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.site-main #section-6 .left-hand {
  -webkit-animation-name: left-moving;
          animation-name: left-moving;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-top: 30%;
}
.site-main #section-6 .right-hand {
  -webkit-animation-name: right-moving;
          animation-name: right-moving;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-top: 30%;
}
.site-main #section-6 .lightning-one {
  position: absolute;
  top: 35%;
  left: 35%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: left-finger-lightning;
          animation-name: left-finger-lightning;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.site-main #section-6 .lightning-two {
  position: absolute;
  top: 35%;
  right: 34%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: right-finger-lightning;
          animation-name: right-finger-lightning;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* SITE-FOOTER */
.site-footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}
.site-footer a {
  color: whitesmoke;
  text-decoration: none;
  padding: 1em;
  font-size: 2em;
}
.site-footer .black_icon {
  color: #0a0a0a;
}
.site-footer ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
}

.aboot_subpage {
  text-align: center;
}
.aboot_subpage img {
  border-radius: 50%;
  margin-top: 3em;
}
.aboot_subpage h1 {
  font-family: europa, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  max-width: 100%;
  margin: auto;
  padding-bottom: 2%;
  color: #fff;
}
@media (min-width: 768px) {
  .aboot_subpage h1 {
    max-width: 68%;
    font-size: 2em;
  }
}
.aboot_subpage h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  color: #ffce53;
  padding-top: 2%;
  margin: auto;
}
.aboot_subpage h4 {
  font-family: europa, sans-serif;
  color: white;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.4em;
}
.aboot_subpage P {
  font-weight: 300;
}

.werks_subpage .hero ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 4em;
  letter-spacing: 5px;
  text-decoration: none;
  font-family: europa, sans-serif;
}
.werks_subpage .hero ul a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.werks_subpage .hero ul a:hover {
  color: #3d5a80;
}
.werks_subpage .hero ul li:nth-child(2) {
  margin-left: 150px;
  margin-right: 150px;
}
.werks_subpage #section-1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: left;
  color: white;
}
.werks_subpage #section-1 ul li {
  margin-bottom: 2%;
}
.werks_subpage #section-1 ul a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.werks_subpage #section-1 ul a:hover {
  color: #3d5a80;
}
.werks_subpage #section-1 img {
  border-radius: 0;
  max-width: 80%;
}
.werks_subpage #section-1 h4 {
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 0.6em;
  font-size: 3em;
  text-align: left;
  font-family: europa, sans-serif;
}
.werks_subpage #section-1 h4::after {
  content: "";
  display: block;
  background-color: #ffce53;
  height: 2px;
  width: 100%;
}
.werks_subpage #section-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: left;
  color: #fff;
}
.werks_subpage #section-2 ul li {
  margin-bottom: 2%;
}
.werks_subpage #section-2 img {
  border-radius: 0;
  max-width: 80%;
  margin-left: 9%;
}
.werks_subpage #section-2 h4 {
  font-weight: 400;
  margin-bottom: 0.6em;
  font-size: 3em;
  color: white;
  font-family: europa, sans-serif;
  letter-spacing: 5px;
  text-align: left;
}
.werks_subpage #section-2 h4::after {
  content: "";
  display: block;
  background-color: #ffce53;
  height: 2px;
  width: 100%;
}
.werks_subpage #section-2 a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.werks_subpage #section-2 a:hover {
  color: #3d5a80;
}
.werks_subpage #section-3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: left;
  color: white;
}
.werks_subpage #section-3 ul li {
  margin-bottom: 2%;
}
.werks_subpage #section-3 img {
  border-radius: 0;
  max-width: 80%;
  margin-left: 10%;
}
.werks_subpage #section-3 h4 {
  font-weight: 400;
  margin-bottom: 0.6em;
  font-size: 3em;
  color: white;
  font-family: europa, sans-serif;
  letter-spacing: 5px;
  text-align: left;
}
.werks_subpage #section-3 h4::after {
  content: "";
  display: block;
  background-color: #ffce53;
  height: 2px;
  width: 100%;
}
.werks_subpage #section-3 a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.werks_subpage #section-3 a:hover {
  color: #3d5a80;
}

.sharkseek_subpage #section-1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
  background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  text-align: left;
}
.sharkseek_subpage #section-1 iframe {
  max-width: 100%;
}
@media (min-width: 768px) {
  .sharkseek_subpage #section-1 iframe {
    max-width: 80%;
  }
}
.sharkseek_subpage #section-1 h1 {
  font-family: europa, sans-serif;
  letter-spacing: 5px;
  color: white;
  border-bottom: 2px solid #ffce53;
  padding-bottom: 2%;
  margin: auto;
}
.sharkseek_subpage #section-1 h4 {
  text-align: left;
  margin-top: 6%;
}

.tott_subpage #section-1 {
  min-height: 50vh;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  .tott_subpage #section-1 {
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
    background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  }
}
.tott_subpage #section-1 video {
  margin-top: 3%;
  width: 100%;
  height: auto;
}
.tott_subpage #section-1 .yellow_arrow {
  margin-bottom: -10%;
  margin-top: 1%;
}
.tott_subpage #section-1 .yellow_arrow img {
  -webkit-animation-name: arrow-scale;
          animation-name: arrow-scale;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (max-width: 768px) {
  .tott_subpage #section-1 .yellow_arrow img {
    display: none;
  }
}
.tott_subpage #section-2 {
  background-color: #0a0a0a;
}
@media (min-width: 768px) {
  .tott_subpage #section-2 {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0a0a0a), color-stop(50%, whitesmoke));
    background: linear-gradient(90deg, #0a0a0a 50%, whitesmoke 50%);
  }
}
.tott_subpage #section-2 h1 {
  font-family: europa, sans-serif;
  color: #fff;
  letter-spacing: 2px;
}
.tott_subpage #section-2 h1 .large {
  font-size: 1.5em;
}
.tott_subpage #section-2 h1 .color {
  color: #ffce53;
}
.tott_subpage #section-2 h4 {
  font-family: europa, sans-serif;
  color: #ffce53;
  letter-spacing: 2px;
}
.tott_subpage #section-2 p {
  color: whitesmoke;
}
@media (min-width: 768px) {
  .tott_subpage #section-2 p {
    color: #0a0a0a;
  }
}
.tott_subpage #section-2 .margin-left {
  padding-left: 0;
}
@media (min-width: 768px) {
  .tott_subpage #section-2 .margin-left {
    padding-left: 20px;
  }
}

.cohort_subpage #section-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d5a80), to(#79b4d6));
  background-image: linear-gradient(to bottom, #3d5a80, #79b4d6);
}
.cohort_subpage #section-1 video {
  margin-top: 1em;
  width: 100%;
  height: auto;
}
.cohort_subpage #section-2 {
  background-color: #79b4d6;
  padding-top: 0;
}
.cohort_subpage #section-2 h1 {
  font-family: europa, sans-serif;
  color: #fff;
  letter-spacing: 2px;
}
.cohort_subpage #section-2 h1 span {
  color: #ffce53;
}
.cohort_subpage #section-2 h4 {
  font-family: europa, sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

.slide-box {
  background-color: rgba(209, 0, 0, 0.3);
  border: 1px solid #d10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-nav {
  min-width: 25%;
}

.slide-wrapper {
  position: relative;
  min-width: 75%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.slide img {
  max-width: 100%;
}

[data-currentslide=slide1] .slide:nth-child(1),
[data-currentslide=slide2] .slide:nth-child(2),
[data-currentslide=slide3] .slide:nth-child(3) {
  display: block;
}

[data-currentslide=slide1] .slide-nav li:nth-child(1) a,
[data-currentslide=slide2] .slide-nav li:nth-child(2) a,
[data-currentslide=slide3] .slide-nav li:nth-child(3) a {
  color: #ffce53;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-HEADER SITE-NAV */
.site-header span {
  position: relative;
  display: block;
}
.site-header span:before,
.site-header span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}
.site-header span:before {
  left: -2.5px;
}
.site-header span:after {
  right: 2.5px;
  background: #ffce53;
  -webkit-transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.site-header span:hover:before {
  background: #ffce53;
  width: 100%;
  -webkit-transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.site-header span:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: 0s;
  transition: 0s;
}
.site-header .site-id {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  margin-top: 5px;
}
.site-header .site-nav ul,
.site-header .site-nav li {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style: none;
  font-family: europa, sans-serif;
  letter-spacing: 4px;
  font-weight: 300;
}
.site-header .site-nav ul .black_aboot a,
.site-header .site-nav li .black_aboot a {
  color: #0a0a0a;
  font-weight: 400;
}
.site-header .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-header .site-nav ul li:nth-child(1) {
  margin-right: 90px;
}
.site-header .site-nav ul li:nth-child(2) {
  margin-left: 90px;
}
.site-header .site-nav a {
  color: white;
}

/* SITE-FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.site-footer .site-nav a {
  display: block;
  padding: 1em;
  line-height: 1;
}

/* ANIMATIONS */
.hero .container > *,
.hero[data-sectionstate=inactive] .container > * {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  opacity: 0;
}
.hero .container > *:nth-child(1),
.hero[data-sectionstate=inactive] .container > *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.hero .container > *:nth-child(2),
.hero[data-sectionstate=inactive] .container > *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.hero .container > *:nth-child(3),
.hero[data-sectionstate=inactive] .container > *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.hero .container > *:nth-child(4),
.hero[data-sectionstate=inactive] .container > *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.hero .container > *:nth-child(5),
.hero[data-sectionstate=inactive] .container > *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.hero[data-sectionstate=active] .container > *,
.hero[data-sectionstate=inactive][data-sectionstate=active] .container > * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section-1 .one-half:nth-child(1) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
  opacity: 0;
}
#section-1[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
#section-1 .one-half:nth-child(2) {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
  -webkit-transition-delay: 0.1;
          transition-delay: 0.1;
}
#section-1[data-sectionstate=active] .one-half:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section-2 .one-half:nth-child(1) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(60px, 0);
          transform: translate(60px, 0);
  opacity: 0;
}
#section-2[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
#section-2 .one-half:nth-child(2) {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
  -webkit-transition-delay: 0.1;
          transition-delay: 0.1;
}
#section-2[data-sectionstate=active] .one-half:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-slide-left,
[data-sectionstate=inactive] .animate-slide-left {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(60px, 0);
          transform: translate(60px, 0);
}

[data-sectionstate=active] .animate-slide-left {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-opacity,
[data-sectionstate=inactive] .animate-opacity {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-sectionstate=active] .animate-opacity {
  opacity: 1;
}

.animate-drop-in-with-delay *,
[data-sectionstate=inactive] .animate-drop-in-with-delay * {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  opacity: 0;
}
.animate-drop-in-with-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.animate-drop-in-with-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.animate-drop-in-with-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.animate-drop-in-with-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.animate-drop-in-with-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-sectionstate=active] .animate-drop-in-with-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-line-out,
[data-sectionstate=inactive] .animate-line-out {
  max-width: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

[data-sectionstate=active] .animate-line-out {
  max-width: 100%;
}