/* ANIMATIONS */

// SCROLL TRIGGERED ANIMATINOS

// .animate-on-scroll,
// .animate-on-scroll[data-sectionstate="inactive"] {
//     opacity: 0;
//     transition: all .4s linear;
// }

// .animate-on-scroll[data-sectionstate="active"] {
//    opacity: 1;
// }

.hero,
.hero[data-sectionstate="inactive"] {

    .container > * {
        transition: all .4s ease-out;
        transform: translate(0, -20px);
        opacity: 0;
        &:nth-child(1) { transition-delay: .2s; }
        &:nth-child(2) { transition-delay: .4s; }
        &:nth-child(3) { transition-delay: .6s; }
        &:nth-child(4) { transition-delay: .8s; }
        &:nth-child(5) { transition-delay: 1s; }
    }


    &[data-sectionstate="active"] {
    
        .container > * {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

#section-1 {

    // ANIMATE FIRST COLUMN
    .one-half:nth-child(1) {
        transition: all .5s ease-in-out;
        transform: translate(-60px, 0);
        opacity: 0;
    }
    &[data-sectionstate="active"] {
        .one-half:nth-child(1) {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    // ANIMATE SECOND COLUMN
    .one-half:nth-child(2) {
        opacity: 0;
        transition: all .5s ease-in-out;
        transform: translate( 0, 60px);
        transition-delay: .1;
    }
    &[data-sectionstate="active"] {
        .one-half:nth-child(2) {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

#section-2 {

    // ANIMATE FIRST COLUMN
    .one-half:nth-child(1) {
        transition: all .5s ease-in-out;
        transform: translate(60px, 0);
        opacity: 0;
    }
    &[data-sectionstate="active"] {
        .one-half:nth-child(1) {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    // ANIMATE SECOND COLUMN
    .one-half:nth-child(2) {
        opacity: 0;
        transition: all .5s ease-in-out;
        transform: translate( 0, -60px);
        transition-delay: .1;
    }
    &[data-sectionstate="active"] {
        .one-half:nth-child(2) {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

// UTILITY / HELPER CLASSES FOR ANIMATION

//  SCALE IN
.animate-scale-in,
[data-sectionstate="inactive"] .animate-scale-in {
    transition: all .5s ease-in-out;
    opacity: 0;
    transform: scale(.8);
}

[data-sectionstate="active"] .animate-scale-in {
    opacity: 1;
    transform: scale(1);
}

// SLIDE UP
.animate-slide-up,
[data-sectionstate="inactive"] .animate-slide-up {
    transition: all .5s ease-in-out;
    opacity: 0;
    transform: translate(0, 60px)
}

[data-sectionstate="active"] .animate-slide-up {
    opacity: 1;
    transform: translate(0, 0)
}

// DROP IN CHILDREN WITH DELAYS
.animate-drop-in-with-delay,
[data-sectionstate="inactive"] .animate-drop-in-with-delay {

    * {
        transition: all .4s ease-out;
        transform: translate(0, -20px);
        opacity: 0;
        &:nth-child(1) { transition-delay: .2s; }
        &:nth-child(2) { transition-delay: .4s; }
        &:nth-child(3) { transition-delay: .6s; }
        &:nth-child(4) { transition-delay: .8s; }
        &:nth-child(5) { transition-delay: 1s; }
    }
}
[data-sectionstate="active"] .animate-drop-in-with-delay {
    
    * {
        opacity: 1;
        transform: translate(0, 0);
    }
}