/* BUTTONS */

.button,
button {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    transition: 250ms ease;
    border-radius: .5em;
    margin: 1em 0;
    cursor: pointer;
}


// PREVIOUS NEXT BUTTONS BY KENY ZACHELIN


@keyframes button-movement {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(.8);
    }
}

.arrow-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 4%;
    transform: scale(.9);

}

.ctn {
    width: 50%;
    height: 100%;

}

.arrow-container h5 {
    font-size: 4vw;
    line-height: 1;
}

.arrow-container .ctn:last-child h1 {
    text-align: right;
}


/*  STRAMBLE */

.stramble .target {
    position: relative;
}

.stramble .strambable {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    overflow: hidden;
}

.stramble .strambable:hover .letter {
    transform: translate(0, -100%);
}


.stramble .target .letter {
    position: relative;
    display: inline-block;
    transition: transform ease-out 150ms;
}

.stramble .target .letter:after {
    content: attr(data-letter);
    position: absolute;
    left: 0;
    top: 100%;
}



.round .target .content {
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.arrow {
    user-select: none;
    opacity: 1;
    z-index: 6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.reverse {
    transform: translateY(-50%) rotate(180deg);
}

.round .content:hover .title {
    transform: translate(75px, -50%);
    opacity: 1;
}

.round .content.reversed:hover .title {
    transform: translate(-150px, -50%);
}

.round .content:before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-accent;
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rounded,
.rounded:before,
.rounded:after {
    content: '';
    border-radius: 50%;
    background-color: $color-accent;
    opacity: .7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 0;
    height: 0;
    transition: all ease-in-out .5s;
}

.round .rounded {
    opacity: .6;
}

.round .content:hover .rounded {
    width: 130%;
    height: 130%;
}

.round .content:hover .rounded:before {
    width: 130%;
    height: 130%;
}

.round .content:hover .rounded:after {
    width: 130%;
    height: 130%;
}

.rounded:before {
    opacity: .4;
    transition-delay: 100ms;
}

.rounded:after {
    opacity: .1;
    transition-delay: 100ms;

}

.round .title {
    font-family: $font-family-sans;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform ease-out .5s,
        opacity ease-out .5s;
    opacity: 0;
    z-index: 3;
    color: rgb(245, 245, 245);
    text-align: center;
}

.round .reversed .title {
    font-weight: 500;
    text-align: center;
    color: rgb(10, 10, 10);
}

.mylink {
    position: absolute;
    z-index: 150;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: .6rem;
}

.mylink a {
    font-family: $font-family-serif;
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: .5;
    transition: opacity .5s;
    text-decoration: none
}

.mylink a:hover {
    opacity: 1
}

.previous {
    color: rgb(245, 245, 245);
    font-family: $font-family-sans;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    bottom: -24%;
    left: 3.5%;

    @media (min-width: $breakpoint-small) {
        display: none;
    }
}

.next {
    color: rgb(245, 245, 245);
    font-family: $font-family-sans;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    bottom: -24%;
    right: 11%;
    display: block;

    @media (min-width: $breakpoint-small) {
        display: none;
    }
}