/* BUTTONS */

.button, button {
    background-color: $color-link;
    color: white;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    transition: 250ms ease;
    border-radius: .5em;
    margin: 1em 0;

    &:hover {
        background-color: $color-link-dark;
        color: white;
    }
}

