/* SITE STRUCTURE */

.site-header {
    position: absolute;
    padding: 1em;
    width: 100%;
    align-items: center;
        a {
            color: black;
            text-decoration: none;
        }

        h1 {
            font-size: 1.5em;
            margin: 0;
        }

        .site-id {
            display: flex;
            align-items: center;
        }

        .logo {
            max-width: 50px;
        }
}

/* HERO */

@keyframes mustache-rotate {
    0% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}

.hero {
    background: black;
    background-image: linear-gradient(to bottom, #3d5a80, #79b4d6);
    min-height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
    overflow-x: hidden;
    .hero-container {
        display: block;
        align-items: center;
        position: relative;
    }
    
    .statue-wrapper {
        position: relative;
        max-width: 90%;
    }
    .mustache-wrapper {
        position: absolute;
        top: 51%;
        left: 50%;
        margin-left: 1.5%;
        transform: translate(-50%, -50%) scale(1.2);
    }
    .mustache {
        display: block;
        animation-name: mustache-rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transform-origin: center;
    }
    h3 {
        position: fixed;
        
        text-align: center;
        width: 120%;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 1.5%;
        margin-left: 0;
        margin-right: 0;
        color: white;
        font-family: ff-carina, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18.6vw;
        line-height: .9;
        letter-spacing: 1px;
        span {
            padding-right: 0;
        }
    }

    p {
        margin: 1em auto;
    }
}

/* MAIN PAGE */

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

#section-1 {
    text-align: center;
    background-color: #79b4d6;
    position: relative;
    img {
        border-radius: 50%;
    }
    h4 {
        font-family: $font-family-sans;
        color: #fff;
        font-weight: 300;
        text-align: center;
    }
    .button {
        border: 1px solid #3d5a80;
        letter-spacing: 3px;
        font-size: .6em;
        color: #fff
    }
}

.overlap_container {
    position: relative;
    img {
        display: block;
    }
}

#section-2 {
    background-color: #79b4d6;
   .large {
       width: 75%;
       padding-bottom: 10%;
    }
    .small {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 45%;
    }
}

#section-3 {
    background-color: #79b4d6;
    .large {
        width: 75%;
        padding-top: 15%;
        margin-left: auto;
         }
    .small {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        
    }
}

#section-4 {
    background-color: #79b4d6;
   .large {
       width: 75%;
       padding-bottom: 14%;
        }
    .small {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
    }
}

@keyframes red-button {
    0% {transform: scale(1.05); box-shadow: inset 0 -8px 6px rgb(97, 32, 32);}
    50% {transform: scale(1); box-shadow:  inset 0 -2px 6px rgb(97, 32, 32);}
    100% {transform: scale(1.05); box-shadow: inset 0 -8px 6px rgb(97, 32, 32);}
}

@keyframes left-moving {
    0% {transform: translate(0,0);}
    50% {transform: translate(50px,0);}
    100% {transform: translate(0,0);}
}

@keyframes right-moving {
    0% {transform: translate(0,0);}
    50% {transform: translate(-50px,0);}
    100% {transform: translate(0,0);}
}

@keyframes left-finger-lightning {
    
    0% {transform: rotate(0); }
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0);}
    
}

@keyframes right-finger-lightning {
    
    0% {transform: rotate(0); }
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(0);}
}

#section-5 {
    background-color: #79b4d6;
    text-align: center;
    position: relative;
    h2 {
        text-align: center;
        font-family: $font-family-serif;
        font-weight: 400;
        color: #fff;
    }
    .button {
        text-align: center;
        background-image: radial-gradient(circle, rgb(255, 51, 0), rgb(209, 0, 0) );
        font-size: 5em;
        font-weight: 300;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 50%;
        animation-name: red-button;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        }

        .left-hand {
            animation-name: left-moving;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            margin-top: 30%;
        }

        .right-hand {
            animation-name: right-moving;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            margin-top: 30%;
        }

        .lightning-one {
            position: absolute;
            top: 35%;
            left: 35%;
            
            transform: scale(1);
            animation-name: left-finger-lightning;
            animation-duration: .2s;
            animation-iteration-count: infinite;
        }
        .lightning-two {
            position: absolute;
            top: 35%;
            right: 34%;
            
            transform: scale(1);
            animation-name: right-finger-lightning;
            animation-duration: .2s;
            animation-iteration-count: infinite;
        }
}

/* SITE-FOOTER */

.site-footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
        a {
            color: whitesmoke;
            text-decoration: none;
            padding: 1em;
        }

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            padding: 0;
        }    
}

// ABOOT SUBPAGE

.aboot_subpage {
    text-align: center;
    img {
        border-radius: 50%;
        margin-top: 3em;
    }
    h1 {
        @media (min-width: $breakpoint-small) {
            max-width: 68%;
            font-size: 2em;
        }
        font-family: $font-family-sans;
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
        // border-bottom: 2px solid rgb(255, 206, 83);
        max-width: 100%;
        margin: auto;
        padding-bottom: 2%;
        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 5px;
            color: rgb(255, 206, 83);
            padding-top: 2%;
            margin: auto;
        }
        }
        h4 {
            font-family: $font-family-sans;
            color: white;
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-weight: 300;
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 1.5em;
        }
        P {
            font-weight: 300;

        }
}

// WERKS SUBPAGE

.werks_subpage {

    .hero {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        font-size: 4em;
        letter-spacing: 5px;
        text-decoration: none;
        font-family: $font-family-serif;

        a {
            text-decoration: none;
            color: #fff;
            transition: .5s ease;
            &:hover {
                color: #3d5a80;
            }
        }

        li:nth-child(2) {
            margin-left: 150px;
            margin-right: 150px;
        }


    }
    
}
#section-1 {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.45em;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: left;
        color: white;
        li {
            margin-bottom: 2%;
        }
        a {
            text-decoration: none;
            color: white;
            transition: .5s ease;
            &:hover {
                color: #3d5a80;
            }
        }
    }
    img {
        border-radius: 0;
        max-width: 80%;
    }
    h4 {
        font-weight: 400;
        letter-spacing: 5px;
        margin-bottom: .6em;
        font-size: 3em;
        text-align: left;
        font-family: $font-family-serif;
        &::after {
            content: '';
            display: block;
            background-color: rgb(255, 206, 83);
            height: 2px;
            width: 100%;
        }
    }
}

#section-2 {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.45em;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: left;
        color: #fff;
        li {
            margin-bottom: 2%;
        }
    }
    img {
        border-radius: 0;
        max-width: 80%;
        margin-left: 9%;
    }
    h4 {
        font-weight: 400;
        margin-bottom: .6em;
        font-size: 3em;
        color: white;
        font-family: $font-family-serif;
        letter-spacing: 5px;
        text-align: left;
        &::after {
            content: '';
            display: block;
            background-color: rgb(255, 206, 83);
            height: 2px;
            width: 100%;
        }
    }
    a {
        text-decoration: none;
        color: white;
        transition: .5s ease;
        &:hover {
            color: #3d5a80;
        }
    }
}

#section-3 {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.45em;
        letter-spacing: 2px;
        text-decoration: none;
        text-align: left;
        color: white;
        li {
            margin-bottom: 2%;
        }
    }
    img {
        border-radius: 0;
        max-width: 80%;
        margin-left: 10%;
    }
    h4 {
        font-weight: 400;
        margin-bottom: .6em;
        font-size: 3em;
        color: white;
        font-family: $font-family-serif;
        letter-spacing: 5px;
        text-align: left;
        &::after {
            content: '';
            display: block;
            background-color: rgb(255, 206, 83);
            height: 2px;
            width: 100%;
        }
    }
    a {
        text-decoration: none;
        color: white;
        transition: .5s ease;
        &:hover {
            color: #3d5a80;
        }
    }
}

}


// SHARK SEEK SUBPAGE

.sharkseek_subpage {
    
    #section-1 {
        background-image: linear-gradient(to bottom, #3d5a80, #79b4d6);
       text-align: left;
            iframe { 
                @media (min-width: $breakpoint-small) {
                    max-width: 80%;
                }
                max-width: 100%;
            }
        
        h1 {
            font-family: $font-family-sans;
            color: white;
            border-bottom: 2px solid rgb(255, 206, 83);
            padding-bottom: 2%;
            margin: auto;
        }
        h4 {
            text-align: left;
            margin-top: 6%;
        }
    }
}

// TOOLS OF THE TIRADE SUBPAGE

.tott_subpage {
    #section-1 {
        background-image: linear-gradient(to bottom, #3d5a80, #79b4d6);
        video {
            margin-top: 1em;
            width: 100%;
            height: auto;
          }
    }
    #section-2 {
        background-color: #79b4d6;
        h1 {
            font-family: $font-family-sans;
            color: #fff;
            letter-spacing: 2px;
           .large {
                font-size: 1.5em;
            }
            .color {
                color: rgb(255, 206, 83);
            }
        }
        h4 {
            font-family: $font-family-sans;
            color: #fff;
            letter-spacing: 2px;
            .top_margin {
                padding-top: 2em;
                background: red;
            }
        }
    }
}

// COHORT SUBPAGE

.cohort_subpage {
    #section-1 {
        background-image: linear-gradient(to bottom, #3d5a80, #79b4d6);
        video {
            margin-top: 1em;
            width: 100%;
            height: auto;
          }
    }
    #section-2 {
        background-color: #79b4d6;
        padding-top: 0;
        h1 {
            font-family: $font-family-sans;
            color: #fff;
            letter-spacing: 2px;
            span {
                color: rgb(255, 206, 83);
            }
        }
        h4 {
            font-family: $font-family-sans;
            color: #fff;
            letter-spacing: 2px;
            
        }
    }
}
